.topbarcontainer {
  height: 50px;
  width: 100%;
  display: flex;
  /* background-color: #118a7e; */
  background-color: #00a79d;
  align-items: center;
  position: sticky;
  z-index: 999;
  top: 0;
}

.topbarleft {
  flex: 3;
  /* background-color: #c54c82; */
}
.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.topbarcenter {
  flex: 5;
  /* background-color: #cb9bba; */
}
.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}
.searchInput {
  border: none;
  width: 70%;
}
.searchInput:focus {
  outline: none;
}
.topbarright {
  flex: 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  /* background-color: #c54c82; */
}
.topbarlink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.topbaricons {
  display: flex;
}
.topbariconitem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
.topbariconbadge {
  width: 15px;
  height: 15px;
  background-color: #eb2632;
  border-radius: 50%;
  color: black;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.topbarimg {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 50%;
}
